
<div class="container">

    <!-- Adding the ng-app declaration to initialize AngularJS -->
    <div id="main" class="navbar-header">
        <!-- The navigation menu will get the value of the "active" variable as a class.
                 The $event.preventDefault() stops the page from jumping when a link is clicked. -->

        <nav class="{{active}}" ng-click="$event.preventDefault()">

            <!-- When a link in the menu is clicked, we set the active variable -->

            <a href="#" class="home navbar-brand" ng-click="active = 'home'">Home</a>
            <a href="#" class="projects navbar-brand" ng-click="active = 'projects'">Projects</a>
            <a href="#" class="services navbar-brand" ng-click="active = 'services'">Services</a>
            <a href="#" class="contact navbar-brand" ng-click="active = 'contact'">Contact</a>
        </nav>

        <!-- ng-show will show an element if the value in the quotes is truthful,
                 while ng-hide does the opposite. Because the active variable is not set
                 initially, this will cause the first paragraph to be visible. -->

        <main>
            <p ng-hide="active">Please click a menu item</p>
            <p ng-show="active">You chose <b>{{active}}</b></p>


            <div ng-controller="AccordionDemoCtrl">
                <label class="checkbox">
                    <input type="checkbox" ng-model="oneAtATime">
                    Open only one at a time
                </label>
                <accordion close-others="oneAtATime">
                    <accordion-group heading="{{mybean}}" ng-repeat="mybean in mybeans" 
                                     ng-click="beanDetail(mybean)">
                        <div ng-repeat="item in methods[mybean]">{{item}}</div>
                    </accordion-group>
                </accordion>
            </div>
        </main>
    </div>
</div>
